* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    color: #000000;
    padding: 100px 0px;
}

.sample_btn {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    line-height: 52px;
    width: 100%;
    background-color: #617691;
    border-radius: 4px;
    border: none;
}

.sample_btn:hover {
    background: #fff;
}

.gradient__type, .gradient__button{
    padding: 50px 0px;
}